<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
  <meta charset="UTF-8">
  <base href="http://blog.pytool.com/">
  <script>
    document._writeOriginal = document.write;
    document.write = function(str) {
        if (str.indexOf('livereload.js') > -1) {
            document._writeOriginal(str);
        } else {
            document._writeOriginal('<!-- Be Hijack!! -->');
        }
    }
  </script>
<title>Swagger：Rest API的描述语言 - 时光小栈</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="J jinjia2语法 {%&hellip;%} 表达式 {{&hellip;}} 变量 {#&hellip;#} 注释 [JSON语法] 官网：http://www.json.org/ 说明： JSON语法是JavaScrip">
<meta name="author" content=rinetd>
<meta name="publisher" content=rinetd@163.com>

<meta itemprop="name" content="Swagger：Rest API的描述语言 - 时光小栈">
<meta itemprop="description" content="J jinjia2语法 {%&hellip;%} 表达式 {{&hellip;}} 变量 {#&hellip;#} 注释 [JSON语法] 官网：http://www.json.org/ 说明： JSON语法是JavaScrip">
<meta itemprop="image" content="http://blog.pytool.com/public/avatar.png">

<meta property="og:type" content="article" />
<meta property="og:title" content="Swagger：Rest API的描述语言 - 时光小栈" />
<meta property="og:description" content="J jinjia2语法 {%&hellip;%} 表达式 {{&hellip;}} 变量 {#&hellip;#} 注释 [JSON语法] 官网：http://www.json.org/ 说明： JSON语法是JavaScrip">
<meta property="og:image" content="http://blog.pytool.com/public/avatar.png" />
<meta property="og:url" content="http://blog.pytool.com/post/%E5%9F%BA%E7%A1%80/2017-04-18-yaml/" />

<meta name="baidu-site-verification" content="pCInWQYbNT" />
<meta name="google-site-verification" content="ifeWsnNpU7w8vP3ii_Cjq-P9LKw3ngVitnMWv4XmJqk" />


<script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
<link rel="canonical" href="http://blog.pytool.com/post/%E5%9F%BA%E7%A1%80/2017-04-18-yaml/">
<link rel='shortlink' href="http://blog.pytool.com/post/%E5%9F%BA%E7%A1%80/2017-04-18-yaml/"/>
<link rel="shortcut icon" href="http://blog.pytool.com/public/favicon.ico"/>

<link rel="stylesheet" id="human-style-css" href="http://blog.pytool.com/wp-content/themes/hueman/style.css" type="text/css" media="all"/>
<link rel="stylesheet" id="human-style-css1" href="http://blog.pytool.com/wp-content/themes/hueman/custom.css" type="text/css" media="all"/>
<link rel="stylesheet" id="human-style-css2" href="http://blog.pytool.com/wp-content/themes/hueman-child/style.css" type="text/css" media="all"/>
<link rel="stylesheet" id="responsive-css" href="http://blog.pytool.com/wp-content/themes/hueman/responsive.css" type="text/css" media="all"/>
<link rel="stylesheet" id="font-awesome-css" href="http://blog.pytool.com/wp-content/themes/hueman/fonts/font-awesome.min.css" type="text/css" media="all"/>

<link rel="stylesheet" href="http://blog.pytool.com/public/highlight/styles/github.css">
<link rel="stylesheet" id="human-style-css3" href="http://blog.pytool.com/wp-content/themes/hueman-child/user.css" type="text/css" media="all"/>
<link rel="stylesheet" href="http://blog.pytool.com/public/font/hack/css/hack.min.css">

</head>


<body class="single single-post single-format-standard col-3cm full-width topbar-enabled chrome">
<div id="wrapper">
  <header id="header">

  <nav class="nav-container group" id="nav-topbar">
    <div class="nav-toggle"><i class="fa fa-bars"></i></div>
    <div class="nav-text"></div>
    <div class="nav-wrap container">
      <a rel="nofollow" href="http://blog.pytool.com/" class="nav-cs-icon">
        <img width="40" height="40" src="http://blog.pytool.com/public/avatar.png" alt="rinetd" title="Home">
      </a>
      <ul id="menu-default-menu" class="nav container-inner group">
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="http://blog.pytool.com/">Home</a>
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/basic/">Basic</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/cmd/">Cmd</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/edit/">Edit</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/hacker/">Hacker</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/hardware/">Hardware</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/hugo/">Hugo</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/linux/">Linux</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/life/">Life</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/other/">Other</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/post/">Post</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/reship/">Reship</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/seo/">SEO</a>
          
        </li>
        
          
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a rel="nofollow" href="http://blog.pytool.com/tool/">Tool</a>
          
        </li>
        
        
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="http://blog.pytool.com/post/">Post</a>
        </li>
        
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="http://blog.pytool.com/about/">about</a>
        </li>
        

        
      </ul>

    </div>

    <div class="container">
      <div class="container-inner">
        <div class="toggle-search"><i class="fa fa-search"></i></div>
        <div class="search-expand">
          <div class="search-expand-inner">
            <form method="get" class="searchform themeform" action="https://www.google.com/search">
              <div>
                <input type="text" class="search" name="q" placeholder="Press enter to start searching">
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
    

  </nav>
  

  <div class="container group">
    <div class="container-inner">
      <div class="group pad">
        <div class="group pad">
          <h1 class="site-title">
            <a rel="nofollow" href="http://blog.pytool.com/" rel="home">
              
              
            </a>
          </h1>
          <p class="site-description"> Don&#39;t put any lines in your CODE that you don&#39;t understand </p>
        </div>

      </div>
    </div>
    
  </div>
  

</header>



  <div class="container" id="page">
    <div class="container-inner">
      <div class="main">
        <div class="main-inner group">
          <section class="content">
            <div class="page-title pad group">
              <ul class="meta-single group">
                
              </ul>
            </div>

            <div class="pad group">

              <article
                  class="post type-post status-publish format-standard has-post-thumbnail hentry category-australien tag-bondi-beach tag-city2surf tag-sydney">
                <div class="post-inner group">

                  <h1 class="post-title">Swagger：Rest API的描述语言</h1>

                  <p class="post-byline">
                    by  · 2016年03月29日 20:57:24 · 1777 Words ·
                    ~4min reading time |
                    
                    <a href="https://coding.net/u/rinetd/p/blog/git/edit/master/content/Post/%e5%9f%ba%e7%a1%80/2017-04-18%20yaml.md" target="_blank">Improve on <i class="fa fa-git-square"></i></a>
                  </p>

                  <div class="clear"></div>

                  <div class="entry">
                    <div class="entry-inner">
                      
                      

<p>J<br />
jinjia2语法<br />
  {%&hellip;%}  表达式<br />
  {{&hellip;}}  变量<br />
  {#&hellip;#}  注释</p>

<p>[JSON语法]<br />
官网：<a href="http://www.json.org/" target="_blank">http://www.json.org/</a><br />
说明： JSON语法是JavaScript对象表示法语法的子集</p>

<p>语法规则<br />
  1 数据在名称/值对中<br />
  2 数据由逗号分隔<br />
  3 花括号保存对象<br />
  4 方括号保存数组<br />
  5 JSON值可以是：<br />
    数字（整数或浮点数）<br />
    字符串（在双引号中）<br />
    逻辑值（true 或 false）<br />
    数组（在方括号中）<br />
    对象（在花括号中）<br />
    null</p>

<p>Y<br />
[YAML语法]<br />
官网：<a href="http://www.yaml.org/" target="_blank">http://www.yaml.org/</a><br />
说明：<br />
语法规则</p>

<pre><code class="language-yaml">  1 大小写敏感  
  2 使用缩进表示层级关系（缩进时不允许Tab键，只允许使用空格；缩进空格数目不重要，只要相同层级的元素左侧对齐即可）  
  3 #表示注释，从#一直到行尾，都会被解析器忽略  
  4 支持的数据结构  
    对象（键值对的集合）  
    数组（一组按次序排列的值）  
    纯量（单个、不可再分的值）  
  5 数组用一个破折号加空格（&quot;- &quot;）表示  
  6 对象用一个冒号加空格（&quot;: &quot;）表示  
  7 重复的节点（对象）首先由锚（用&amp;符号“&amp;”标记）标识，然后再用别名（以星号“*”引用）标识  
  8 常用符号  
    --- 三个破折号表示文档开始  
    ... 三个点表示文档的结尾  
    | 多行字符串保留换行符  
    &gt; 多行字符串折叠换行  
    + 保留文字块末尾的换行  
    - 删除文字块末尾的换行  
    &amp; 锚点  
    * 别名（引用）  
    &lt;&lt; 合并到当前数据  
</code></pre>

<p>本文来自：<a href="http://www.ruanyifeng.com/blog/2016/07/yaml.html" target="_blank">阮一峰:YAML 语言教程</a></p>

<h2 id="简介">简介</h2>

<p>YAML 是专门用来写配置文件的语言，非常简洁和强大，远比 JSON 格式方便。<br />
YAML 语言（发音 /ˈjæməl/ ）的设计目标，就是方便人类读写。它实质上是一种通用的数据串行化格式。</p>

<p>它的基本语法规则如下：</p>

<pre><code>大小写敏感  
使用缩进表示层级关系  
缩进时不允许使用Tab键，只允许使用空格  
缩进的空格数目不重要，只要相同层级的元素左侧对齐即可  
# 表示注释，从这个字符一直到行尾，都会被解析器忽略  
</code></pre>

<p>YAML 支持的数据结构有三种：</p>

<pre><code>对象：键值对的集合，又称为映射（mapping）/ 哈希（hashes） / 字典（dictionary）  
数组：一组按次序排列的值，又称为序列（sequence） / 列表（list）  
纯量（scalars）：单个的、不可再分的值  
</code></pre>

<h2 id="对象">对象</h2>

<p>对象的一组键值对，使用冒号结构表示：</p>

<pre><code>Yaml:  
animal: pets  

JavaScript:  
{ animal: 'pets' }  
</code></pre>

<p>Yaml 也允许另一种写法，将所有键值对写成一个行内对象：</p>

<pre><code>Yaml:  
hash: { name: Steve, foo: bar }  

JavaScript:  
{ hash: { name: 'Steve', foo: 'bar' } }  
</code></pre>

<h2 id="数组">数组</h2>

<p>一组连词线开头的行，构成一个数组：</p>

<pre><code>Yaml:  

- Cat  
- Dog  
- Goldfish  

JavaScript:  

[ 'Cat', 'Dog', 'Goldfish' ]  
</code></pre>

<p>数据结构的子成员是一个数组，则可以在该项下面缩进一个空格：</p>

<pre><code>Yaml:  

-  
 - Cat  
 - Dog  
 - Goldfish  

JavaScript:  

[ [ 'Cat', 'Dog', 'Goldfish' ] ]  
</code></pre>

<p>数组也可以采用行内表示法：</p>

<pre><code>Yaml:  
animal: [Cat, Dog]  

JavaScript:  
{ animal: [ 'Cat', 'Dog' ] }  
</code></pre>

<h2 id="复合结构">复合结构</h2>

<p>对象和数组可以结合使用，形成复合结构：</p>

<pre><code>Yaml:  

languages:  
 - Ruby  
 - Perl  
 - Python  
websites:  
 YAML: yaml.org  
 Ruby: ruby-lang.org  
 Python: python.org  
 Perl: use.perl.org  

JavaScript:  

{ languages: [ 'Ruby', 'Perl', 'Python' ],  
  websites:  
   { YAML: 'yaml.org',  
     Ruby: 'ruby-lang.org',  
     Python: 'python.org',  
     Perl: 'use.perl.org' }  
}  
</code></pre>

<h2 id="纯量">纯量</h2>

<p>纯量是最基本的、不可再分的值。以下数据类型都属于 JavaScript 的纯量：</p>

<h3 id="布尔值">布尔值</h3>

<p>布尔值用true和false表示</p>

<h3 id="数值">数值</h3>

<p>分为整数和浮点数</p>

<h3 id="null">Null</h3>

<p>null用 ~ 表示：</p>

<pre><code>parent: ~  
</code></pre>

<h3 id="时间">时间</h3>

<pre><code>Yaml:  
iso8601: 2001-12-14t21:59:43.10-05:00  

JavaScript:  
{ iso8601: new Date('2001-12-14t21:59:43.10-05:00') }  
</code></pre>

<h3 id="日期">日期</h3>

<p>日期采用复合 iso8601 格式的年、月、日表示：</p>

<pre><code>Yaml:  
date: 1976-07-31  

JavaScript:  
{ date: new Date('1976-07-31') }  
</code></pre>

<h3 id="字符串">字符串</h3>

<p>字符串默认不使用引号表示：</p>

<pre><code>Yaml:  
str: 这是一行字符串  

JavaScript:  
{ str: '这是一行字符串' }  
</code></pre>

<p>如果字符串之中包含空格或特殊字符，需要放在引号之中：</p>

<pre><code>Yaml:  
str: '内容： 字符串'  

JavaScript:  
{ str: '内容: 字符串' }  
</code></pre>

<p>单引号和双引号都可以使用，双引号不会对特殊字符转义：</p>

<pre><code>Yaml:  
s1: '内容\n字符串'  
s2: &quot;内容\n字符串&quot;  

JavaScript:  
{ s1: '内容\\n字符串', s2: '内容\n字符串' }  
</code></pre>

<p>单引号之中如果还有单引号，必须连续使用两个单引号转义：</p>

<pre><code>Yaml:  
str: 'labor''s day'  

JavaScript:  
{ str: 'labor\'s day' }  
</code></pre>

<p>字符串可以写成多行，从第二行开始，必须有一个单空格缩进。换行符会被转为空格。</p>

<pre><code>Yaml:  

str: 这是一段  
  多行  
  字符串  

JavaScript:  

{ str: '这是一段 多行 字符串' }  
</code></pre>

<p>多行字符串可以使用“|”保留换行符，也可以使用&gt;折叠换行：</p>

<pre><code>Yaml:  

this: |  
  Foo  
  Bar  
that: &gt;  
  Foo  
  Bar  

JavaScript:  

{ this: 'Foo\nBar\n', that: 'Foo Bar\n' }  
</code></pre>

<p>+表示保留文字块末尾的换行，-表示删除字符串末尾的换行：</p>

<pre><code>Yaml:  

s1: |  
  Foo  

s2: |+  
  Foo  


s3: |-  
  Foo  

JavaScript:  

{ s1: 'Foo\n', s2: 'Foo\n\n\n', s3: 'Foo' }  
</code></pre>

<p>字符串之中可以插入 HTML 标记：</p>

<pre><code>Yaml:  

message: |  

  &lt;p style=&quot;color: red&quot;&gt;  
    段落  
  &lt;/p&gt;  

JavaScript:  

{ message: '\n&lt;p style=&quot;color: red&quot;&gt;\n  段落\n&lt;/p&gt;\n' }  
</code></pre>

<h3 id="强制类型转换">强制类型转换</h3>

<p>YAML 允许使用两个感叹号，强制转换数据类型：</p>

<pre><code>Yaml:  
e: !!str 123  
f: !!str true  

JavaScript:  
{ e: '123', f: 'true' }  
</code></pre>

<h2 id="引用">引用</h2>

<p>锚点&amp;和别名*，可以用来引用<br />
&amp;用来建立锚点，&lt;&lt; 表示合并到当前数据，*用来引用锚点：</p>

<pre><code>Yaml:  

defaults: &amp;defaults  
  adapter:  postgres  
  host:     localhost  

development:  
  database: myapp_development  
  &lt;&lt;: *defaults  

test:  
  database: myapp_test  
  &lt;&lt;: *defaults  


JavaScript:  

defaults:  
  adapter:  postgres  
  host:     localhost  

development:  
  database: myapp_development  
  adapter:  postgres  
  host:     localhost  

test:  
  database: myapp_test  
  adapter:  postgres  
  host:     localhost  
</code></pre>

<p>下面是另一个例子：</p>

<pre><code>Yaml:  

- &amp;showell Steve  
- Clark  
- Brian  
- Oren  
- *showell  

JavaScript:  

[ 'Steve', 'Clark', 'Brian', 'Oren', 'Steve' ]  
</code></pre>

                      
                    </div>
                    <div style="border: 1px dashed #e0e0e0; padding: 10px 10px 10px 10px; background-color: #fffeee; background-repeat: no-repeat; background-attachment: scroll; background-position: 1% 50%; -moz-background-size: auto auto; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
    <div style="float:left;margin-top:0px;">
    <img src="http://blog.pytool.com/public/qrcode.jpg" width="129px" height="129px"/>
    <div style="text-align:center;">微信扫一扫交流</div>
    </div>
    <div>
        <p style="margin-top:0px;">作者：<a target="_blank" href="http://blog.pytool.com/">rinetd</a>
        
        <br />本文出处：<a target="_blank" href="http://blog.pytool.com/post/%E5%9F%BA%E7%A1%80/2017-04-18-yaml/">http://blog.pytool.com/post/%E5%9F%BA%E7%A1%80/2017-04-18-yaml/</a>
        <br />
        文章版权归本人所有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。 </p>
    </div>
</div>

                    <div class="clear"></div>
                  </div>
                  

                </div>
                
              </article>
              
              <div class="clear"></div>
              

              
<section id="comments" class="themeform">
  <div id="SOHUCS"></div>
	<script type="text/javascript">
	(function(){
		if (window.location.hostname === 'localhost') return;
		if (window.location.hostname === '127.0.0.1') return;

		var appid = 'cytgPrsTW';
		var conf = 'prod_a8b514a0c64b034bba38e466be98c266';
		var width = window.innerWidth || document.documentElement.clientWidth;
		if (width < 960) {window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); }
	})();
	</script>

  

  



  


</section>

            </div>
          </section>
          <div class="sidebar s1">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="fa icon-sidebar-toggle"></i></a>
  <div class="sidebar-content">
    <div class="sidebar-top group">
      <p>Follow:</p>
      <ul class="social-links">
    <li>
    <a class="social-tooltip" title="On WeiBo"
        href="http://weibo.com/rinetd" target="_blank">
        <i class="fa fa-weibo"></i>
    </a>
    </li>
    <li>
    <a class="social-tooltip" title="On Twitter" rel="nofollow"
        href="https://twitter.com/rinetd" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    </li>
    <li>
    <a class="social-tooltip" title="On GitHub"
        href="https://github.com/rinetd" target="_blank">
        <i class="fa fa-github"></i>
    </a>
    </li>
</ul>

    </div>

    <ul class="post-nav group">
    <li class="previous">
      
      <a href="http://blog.pytool.com/post/2017-04-18-swagger/" rel="prev">
        <i class="fa fa-chevron-left"></i>
        <strong>Previous Post</strong>
        <span>Swagger：Rest API的描述语言</span>
      </a>
      
  </li>
</ul>

    <div id="categories-2" class="widget widget_categories"><h3>分类</h3>
  <ul>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/android/">Android</a>
        <small>(17)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/android%E5%BA%95%E5%B1%82/">Android底层</a>
        <small>(7)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/english/">English</a>
        <small>(1)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/golang/">Golang</a>
        <small>(57)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/lessons/">Lessons</a>
        <small>(17)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/linux%E5%86%85%E6%A0%B8/">Linux内核</a>
        <small>(4)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/linux%E5%91%BD%E4%BB%A4/">Linux命令</a>
        <small>(90)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/linux%E5%9F%BA%E7%A1%80/">Linux基础</a>
        <small>(90)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/stm32/">Stm32</a>
        <small>(5)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E4%B8%AD%E5%8C%BB/">中医</a>
        <small>(1)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E5%89%8D%E7%AB%AF%E6%8A%80%E6%9C%AF/">前端技术</a>
        <small>(3)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E5%A5%87%E7%9C%9F%E5%BC%82%E5%AE%9D/">奇真异宝</a>
        <small>(10)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E5%B5%8C%E5%85%A5%E5%BC%8Flinux/">嵌入式linux</a>
        <small>(1)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E6%95%B0%E6%8D%AE%E5%BA%93/">数据库</a>
        <small>(18)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E6%95%B0%E6%8D%AE%E7%AE%97%E6%B3%95/">数据算法</a>
        <small>(1)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E6%96%87%E6%9C%AC%E7%BC%96%E8%BE%91/">文本编辑</a>
        <small>(25)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E6%9C%AA%E5%88%86%E7%B1%BB/">未分类</a>
        <small>(2)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E6%AD%A3%E5%88%99%E8%A1%A8%E8%BE%BE%E5%BC%8F/">正则表达式</a>
        <small>(3)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E7%A8%8B%E5%BA%8F%E5%91%98/">程序员</a>
        <small>(8)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E7%AB%AF%E5%8F%A3%E8%BD%AC%E5%8F%91/">端口转发</a>
        <small>(1)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E7%BD%91%E7%BB%9C%E5%AE%89%E5%85%A8/">网络安全</a>
        <small>(44)</small>
      </li>
    
      <li class="cat-item cat-item-1">
        <a rel="nofollow" href="http://blog.pytool.com/categories/%E9%9D%99%E6%80%81%E5%8D%9A%E5%AE%A2/">静态博客</a>
        <small>(11)</small>
      </li>
    
  </ul>
</div>

    
    
     
  <div id="search-2" class="widget widget_search"><h3>Search</h3>
      <form method="get" class="searchform themeform" action="https://www.google.com/search">
        <div>
          <input type="text" class="search" name="q" placeholder="Press enter to start searching">
        </div>
      </form>
    </div>
  </div>
  
</div>

          <div class="sidebar s2">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="fa icon-sidebar-toggle"></i></a>
  <div class="sidebar-content">
    <div class="sidebar-top group">
      <p>More</p>
    </div>

    
    <ul class="post-nav group">
    <li class="next">
      
      <a href="http://blog.pytool.com/post/%E5%89%8D%E7%AB%AF%E6%8A%80%E6%9C%AF/2016-10-06-xpath%E8%AF%AD%E6%B3%95%E7%AC%94%E8%AE%B0/" rel="next">
        <i class="fa fa-chevron-right"></i>
        <strong>Next post</strong>
        <span>Xpath语法笔记</span>
      </a>
      
  </li>
</ul>

    <div id="tag_cloud-2" class="widget widget_tag_cloud"><h3>标签云</h3>
  <div class="tagcloud post-tags">
      
         <a rel="tag" href="http://blog.pytool.com/tags/ack/" class="tag-link-8" title="1 Posts">ack<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/activity/" class="tag-link-3" title="1 Posts">activity<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/adb/" class="tag-link-8" title="1 Posts">adb<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/android/" class="tag-link-4" title="1 Posts">android<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ansible/" class="tag-link-4" title="1 Posts">ansible<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/apt/" class="tag-link-8" title="1 Posts">apt<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/aria2/" class="tag-link-6" title="1 Posts">aria2<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/arp/" class="tag-link-8" title="1 Posts">arp<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/atom/" class="tag-link-7" title="1 Posts">atom<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/autohotkey/" class="tag-link-1" title="1 Posts">autohotkey<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/awesome/" class="tag-link-4" title="1 Posts">awesome<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/awk/" class="tag-link-8" title="1 Posts">awk<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/bash/" class="tag-link-7" title="1 Posts">bash<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/bat/" class="tag-link-8" title="1 Posts">bat<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/bc/" class="tag-link-9" title="1 Posts">bc<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/bower/" class="tag-link-6" title="1 Posts">bower<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/burpssuite/" class="tag-link-1" title="1 Posts">burpssuite<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/burpsuite/" class="tag-link-2" title="1 Posts">burpsuite<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/capistrano/" class="tag-link-1" title="1 Posts">capistrano<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/cash/" class="tag-link-7" title="1 Posts">cash<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/centos7/" class="tag-link-4" title="1 Posts">centos7<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/coffeescript/" class="tag-link--1" title="1 Posts">coffeescript<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/composer/" class="tag-link-3" title="1 Posts">composer<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/coreos/" class="tag-link-5" title="1 Posts">coreos<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/crontab/" class="tag-link-4" title="1 Posts">crontab<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/cryptsetup/" class="tag-link-1" title="1 Posts">cryptsetup<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/css/" class="tag-link-8" title="1 Posts">css<small>(12)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/css3/" class="tag-link-7" title="1 Posts">css3<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ctags/" class="tag-link-6" title="1 Posts">ctags<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/curl/" class="tag-link-7" title="1 Posts">curl<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/date/" class="tag-link-7" title="1 Posts">date<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/dd/" class="tag-link-9" title="1 Posts">dd<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/debug/" class="tag-link-6" title="1 Posts">debug<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/devops/" class="tag-link-5" title="1 Posts">devops<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/discourse/" class="tag-link-2" title="1 Posts">discourse<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/dnsmasq/" class="tag-link-4" title="1 Posts">dnsmasq<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/docker/" class="tag-link-5" title="1 Posts">docker<small>(8)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/dpkg/" class="tag-link-7" title="1 Posts">dpkg<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/editorconfig/" class="tag-link--1" title="1 Posts">editorconfig<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/emacs/" class="tag-link-6" title="1 Posts">emacs<small>(12)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/enca/" class="tag-link-7" title="1 Posts">enca<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/encode/" class="tag-link-5" title="1 Posts">encode<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/etcd/" class="tag-link-7" title="1 Posts">etcd<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/expect/" class="tag-link-5" title="1 Posts">expect<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/extundelete/" class="tag-link-0" title="1 Posts">extundelete<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ffmpeg/" class="tag-link-5" title="1 Posts">ffmpeg<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/find/" class="tag-link-7" title="1 Posts">find<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/firewall/" class="tag-link-3" title="1 Posts">firewall<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/fonts/" class="tag-link-6" title="1 Posts">fonts<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/fstab/" class="tag-link-6" title="1 Posts">fstab<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/gdb/" class="tag-link-8" title="1 Posts">gdb<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/git/" class="tag-link-8" title="1 Posts">git<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/glang/" class="tag-link-6" title="1 Posts">glang<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/go/" class="tag-link-9" title="1 Posts">go<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/go-shadowsocks2/" class="tag-link--4" title="1 Posts">go-shadowsocks2<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/golang/" class="tag-link-5" title="1 Posts">golang<small>(57)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/gpg/" class="tag-link-8" title="1 Posts">gpg<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/gpio/" class="tag-link-7" title="1 Posts">gpio<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/grep/" class="tag-link-7" title="1 Posts">grep<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/hexdump/" class="tag-link-4" title="1 Posts">hexdump<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/hexo/" class="tag-link-7" title="1 Posts">hexo<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/hmac/" class="tag-link-7" title="1 Posts">hmac<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/html/" class="tag-link-7" title="1 Posts">html<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/html5/" class="tag-link-6" title="1 Posts">html5<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/http/" class="tag-link-7" title="1 Posts">http<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/httperf/" class="tag-link-4" title="1 Posts">httperf<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/hugo/" class="tag-link-7" title="1 Posts">hugo<small>(8)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/hydra/" class="tag-link-6" title="1 Posts">hydra<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/i18n/" class="tag-link-7" title="1 Posts">i18n<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ifttt/" class="tag-link-6" title="1 Posts">ifttt<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/imagemagick/" class="tag-link-0" title="1 Posts">imagemagick<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/index/" class="tag-link-6" title="1 Posts">index<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/insomnia/" class="tag-link-3" title="1 Posts">insomnia<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/intent/" class="tag-link-5" title="1 Posts">intent<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ios/" class="tag-link-8" title="1 Posts">ios<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/iotop/" class="tag-link-6" title="1 Posts">iotop<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ip/" class="tag-link-9" title="1 Posts">ip<small>(10)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/iproute2/" class="tag-link-3" title="1 Posts">iproute2<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/iptables/" class="tag-link-3" title="1 Posts">iptables<small>(4)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/irc/" class="tag-link-8" title="1 Posts">irc<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/javascript/" class="tag-link-1" title="1 Posts">javascript<small>(6)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/join/" class="tag-link-7" title="1 Posts">join<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/js/" class="tag-link-9" title="1 Posts">js<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/key/" class="tag-link-8" title="1 Posts">key<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/linux/" class="tag-link-6" title="1 Posts">linux<small>(5)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/linux%E5%91%BD%E4%BB%A4/" class="tag-link-0" title="1 Posts">linux命令<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/locale/" class="tag-link-5" title="1 Posts">locale<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/losetup/" class="tag-link-4" title="1 Posts">losetup<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/lsof/" class="tag-link-7" title="1 Posts">lsof<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/lunr/" class="tag-link-7" title="1 Posts">lunr<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/lvm2/" class="tag-link-7" title="1 Posts">lvm2<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/makefile/" class="tag-link-3" title="1 Posts">makefile<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/mariadb/" class="tag-link-4" title="1 Posts">mariadb<small>(5)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/mathjax/" class="tag-link-4" title="1 Posts">mathjax<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/mbr/" class="tag-link-8" title="1 Posts">mbr<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/md5/" class="tag-link-8" title="1 Posts">md5<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/md5sum/" class="tag-link-5" title="1 Posts">md5sum<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/meteor/" class="tag-link-5" title="1 Posts">meteor<small>(7)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/mongodb/" class="tag-link-4" title="1 Posts">mongodb<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/mtr/" class="tag-link-8" title="1 Posts">mtr<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/mysql/" class="tag-link-6" title="1 Posts">mysql<small>(37)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/nessus/" class="tag-link-5" title="1 Posts">nessus<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/netcat/" class="tag-link-5" title="1 Posts">netcat<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/netsh/" class="tag-link-6" title="1 Posts">netsh<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/nexpose/" class="tag-link-4" title="1 Posts">nexpose<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/nginx/" class="tag-link-6" title="1 Posts">nginx<small>(26)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/nmap/" class="tag-link-7" title="1 Posts">nmap<small>(3)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/nodejs/" class="tag-link-5" title="1 Posts">nodejs<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/npm/" class="tag-link-8" title="1 Posts">npm<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/nvic/" class="tag-link-7" title="1 Posts">nvic<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/oauth2/" class="tag-link-5" title="1 Posts">oauth2<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/objdump/" class="tag-link-4" title="1 Posts">objdump<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/openssl/" class="tag-link-4" title="1 Posts">openssl<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/pandoc/" class="tag-link-5" title="1 Posts">pandoc<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/php/" class="tag-link-8" title="1 Posts">php<small>(3)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/postgresql/" class="tag-link-1" title="1 Posts">postgresql<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/powershell/" class="tag-link-1" title="1 Posts">powershell<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/prometheus/" class="tag-link-1" title="1 Posts">prometheus<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/proxy/" class="tag-link-6" title="1 Posts">proxy<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/python/" class="tag-link-5" title="1 Posts">python<small>(5)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/redis/" class="tag-link-6" title="1 Posts">redis<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/rename/" class="tag-link-5" title="1 Posts">rename<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/repo/" class="tag-link-7" title="1 Posts">repo<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/resin/" class="tag-link-6" title="1 Posts">resin<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/responsive/" class="tag-link-1" title="1 Posts">responsive<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/restful/" class="tag-link-4" title="1 Posts">restful<small>(4)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/rethinkdb/" class="tag-link-2" title="1 Posts">rethinkdb<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/retina/" class="tag-link-5" title="1 Posts">retina<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/root/" class="tag-link-7" title="1 Posts">root<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/route/" class="tag-link-6" title="1 Posts">route<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/rsync/" class="tag-link-6" title="1 Posts">rsync<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/rtsp/" class="tag-link-7" title="1 Posts">rtsp<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ruby/" class="tag-link-7" title="1 Posts">ruby<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/samba/" class="tag-link-6" title="1 Posts">samba<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sar/" class="tag-link-8" title="1 Posts">sar<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/scp/" class="tag-link-8" title="1 Posts">scp<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/scrapy/" class="tag-link-5" title="1 Posts">scrapy<small>(8)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sed/" class="tag-link-8" title="1 Posts">sed<small>(3)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/selenium/" class="tag-link-3" title="1 Posts">selenium<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sftp/" class="tag-link-7" title="1 Posts">sftp<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/shell/" class="tag-link-6" title="1 Posts">shell<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/snap/" class="tag-link-7" title="1 Posts">snap<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sort/" class="tag-link-7" title="1 Posts">sort<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ssh/" class="tag-link-8" title="1 Posts">ssh<small>(3)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ssl/" class="tag-link-8" title="1 Posts">ssl<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sso/" class="tag-link-8" title="1 Posts">sso<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ssrf/" class="tag-link-7" title="1 Posts">ssrf<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/stm32/" class="tag-link-6" title="1 Posts">stm32<small>(5)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sublime/" class="tag-link-4" title="1 Posts">sublime<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sudo/" class="tag-link-7" title="1 Posts">sudo<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/svg/" class="tag-link-8" title="1 Posts">svg<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/swagger/" class="tag-link-4" title="1 Posts">swagger<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/swarm/" class="tag-link-6" title="1 Posts">swarm<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/sysbench/" class="tag-link-3" title="1 Posts">sysbench<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/systemctl/" class="tag-link-2" title="1 Posts">systemctl<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/tc/" class="tag-link-9" title="1 Posts">tc<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/tcpdump/" class="tag-link-4" title="1 Posts">tcpdump<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/tim/" class="tag-link-8" title="1 Posts">tim<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/time/" class="tag-link-7" title="1 Posts">time<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/timezone/" class="tag-link-3" title="1 Posts">timezone<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/tmux/" class="tag-link-7" title="1 Posts">tmux<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/top/" class="tag-link-8" title="1 Posts">top<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/tr/" class="tag-link-9" title="1 Posts">tr<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/tshark/" class="tag-link-5" title="1 Posts">tshark<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ubuntu/" class="tag-link-5" title="1 Posts">ubuntu<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/ulimit/" class="tag-link-5" title="1 Posts">ulimit<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/underscore/" class="tag-link-1" title="1 Posts">underscore<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/unpack/" class="tag-link-5" title="1 Posts">unpack<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/update-alternatives/" class="tag-link--8" title="1 Posts">update-alternatives<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/useradd/" class="tag-link-4" title="1 Posts">useradd<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/vim/" class="tag-link-8" title="1 Posts">vim<small>(9)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/visualstudiocode/" class="tag-link--5" title="1 Posts">visualstudiocode<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/vlc/" class="tag-link-8" title="1 Posts">vlc<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/webpack3/" class="tag-link-3" title="1 Posts">webpack3<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/wget/" class="tag-link-7" title="1 Posts">wget<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/windows10/" class="tag-link-2" title="1 Posts">windows10<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/windump/" class="tag-link-4" title="1 Posts">windump<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/wireshark/" class="tag-link-2" title="1 Posts">wireshark<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/xidel/" class="tag-link-6" title="1 Posts">xidel<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/xml/" class="tag-link-8" title="1 Posts">xml<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/xmllint/" class="tag-link-4" title="1 Posts">xmllint<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/xpath/" class="tag-link-6" title="1 Posts">xpath<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/yaml/" class="tag-link-7" title="1 Posts">yaml<small>(2)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/zabbix/" class="tag-link-5" title="1 Posts">zabbix<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/%E5%93%8D%E5%BA%94%E5%BC%8F/" class="tag-link-2" title="1 Posts">响应式<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/%E8%87%AA%E5%8A%A8%E5%8C%96%E6%B5%8B%E8%AF%95/" class="tag-link--4" title="1 Posts">自动化测试<small>(1)</small></a>
      
         <a rel="tag" href="http://blog.pytool.com/tags/%E8%B4%A6%E6%88%B7%E7%B3%BB%E7%BB%9F/" class="tag-link--1" title="1 Posts">账户系统<small>(1)</small></a>
      
  </div>
</div>

    

    
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</div>


<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-106129999-2', 'auto');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<script id="baidu_analytics">
  var _hmt = _hmt || [];
  (function() {
    if (window.location.hostname === 'localhost') return;
    var hm = document.createElement("script"); hm.async = true;
    hm.src = "https://hm.baidu.com/hm.js?e2103759b6030b3c4ac84c63c542e493";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<script id="baidu_push">
  (function(){
    if (window.location.hostname === 'localhost') return;
    var bp = document.createElement('script'); bp.async = true;
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>

<footer id="footer">
  <section class="container" id="footer-bottom">
    <div class="container-inner">
      <a id="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
      <div class="pad group">
        <div class="grid one-half">
          <div id="copyright">
              <p>Copyright (c) 2017. All rights reserved. (版权所有) <a href='http://www.miitbeian.gov.cn/'>鲁ICP备17074587号-1</a></p>
              
          </div>
          
        </div>
        
        <div class="grid one-half last">
          <ul class="social-links">
    <li>
    <a class="social-tooltip" title="On WeiBo"
        href="http://weibo.com/rinetd" target="_blank">
        <i class="fa fa-weibo"></i>
    </a>
    </li>
    <li>
    <a class="social-tooltip" title="On Twitter" rel="nofollow"
        href="https://twitter.com/rinetd" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    </li>
    <li>
    <a class="social-tooltip" title="On GitHub"
        href="https://github.com/rinetd" target="_blank">
        <i class="fa fa-github"></i>
    </a>
    </li>
</ul>

        </div>
      </div>

    </div>
    
  </section>
  
</footer>



<script src="http://blog.pytool.com/public/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://blog.pytool.com/wp-content/themes/hueman/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://blog.pytool.com/wp-content/themes/hueman/js/scripts.js"></script>
<script type="text/javascript" src="http://blog.pytool.com/assets/picturefill/picturefill.min.js"></script>
<script type="text/javascript" src="http://blog.pytool.com/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" async defer src="http://blog.pytool.com/assets/js/myblog.js"></script>

</body>
</html>

